<% @all_sentiment.each do |sentiment| %>
	<p>User: <%= User.find(sentiment.user_id).screen_name %></p>
	<p>Positive Average: <%= sentiment.positive_average %></p>
	<p>Negative Average: <%= sentiment.negative_average %></p>
<% end %>

<%= form_tag(filtered_results_path, method: "post", class: 'form-overlay') do %>
	<%= submit_tag("Final Suicidal Analysis", id: 'result-btn') %>
<% end %>