<h1>Users Found and Created in Database</h1>

<% @user = User.all %>
<%@user.each do |user| %>
	<%= link_to user.screen_name, user_path(user.id) %> <br>
<%end%>

<%= form_tag(tweets_path, method: "post") do %>
  <%= submit_tag("Create Tweets") %>
<% end %>

<% if User.pluck(:id).all? { |e| Tweet.pluck(:user_id).include?(e) } and User.first %>
	<%= form_tag(sentiment_results_path, method: "post") do %>
  	<%= submit_tag("Analysed Tweets Sentiment") %>
	<% end %>
<% end %>
