<div id="wrapper">
  <!-- Navigation -->
  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
      </button>
      <% if logged_in? %>
        <a class="navbar-brand" href="/get_user" data-turbolinks='false'>Angel.AI</a>
      <% else %>
        <a class="navbar-brand" href="/">Angel.AI</a>
      <% end %>  
    </div>
      <!-- Top Menu Items -->
    <ul class="nav navbar-nav navbar-right" style="margin-right:15px;">
      <% if !logged_in? %>
        <li><%= link_to "Login |", '/login' %></li>
        <li><%=link_to 'Signup', '/signup' %></li>
      <% end %>
      <li class="dropdown">
      <% if logged_in? %>
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <%=current_user.name%> <span class="caret"></span></a>
      <ul class="dropdown-menu">
          <li><%= link_to "Logout", '/logout'  %></li>
      <% end %></ul>
      </li>
    </ul> 
    <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul class="nav navbar-nav side-nav">
        <li class="active">
            <a href="index.html"><i class="fa fa-fw fa-dashboard"></i> Dashboard</a>
        </li>
        <li>
            <a href="/sentiment_results"><i class="fa fa-fw fa-bar-chart-o"></i> Charts</a>
        </li>
        <li>
            <a href="/users"><i class="fa fa-fw fa-file"></i> User Info</a>
        </li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </nav>
    <div id="page-wrapper">

        <div class="container-fluid">

            <!-- Page Heading -->
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">
                        Dashboard <small>Statistics Overview</small>
                    </h1>
                </div>
            </div>
            <!-- /.row -->


                <div class="col-lg-6 col-md-6">
                    <div class="panel panel-green">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-tasks fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge"><%=User.count%></div>
                                    <div>User Analysed</div>
                                </div>
                            </div>
                        </div>
                        <a href="#users">
                            <div class="panel-footer">
                                <span class="pull-left">View Details</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="panel panel-red">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-support fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge"><%=User.where("suicidal_index >= 30").count%></div>
                                    <div>High Risk</div>
                                </div>
                            </div>
                        </div>
                        <a href="#high-risk">
                            <div class="panel-footer">
                                <span class="pull-left">View Details</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>


                 <div class="row">
                     <div class="col-lg-12">
                         </div>
                     </div>
            
                  <h1><u> Suicidal Index Graph </u></h1>
                <!-- /.row -->
                <div id='chartbg'>
                    <div id="chartdiv"></div>
                </div>
        
<a id="users">
<a id="high-risk">
<br>
<br>
<div class="row">
  <div class="col-lg-2"></div>
  <div class="col-lg-8">
    <div class="input-group">
      <%= form_tag("/users", method: "post", class: 'form-overlay') do %>
        <%= text_field_tag 'search', nil, placeholder: 'Enter search term (max 10) seperated by white space', size: 100, class: 'form-control' %>
        <%= submit_tag("Search", class: 'btn btn-primary form-control') %>
      <% end %>
    </div>
  </div>
  <div class="col-lg-2"></div>
</div>


<% if @error %>
  <%= @error %>
<% end %>

    <script type="text/javascript">

      // Set a callback to run when the Google Visualization API is loaded.
      google.charts.setOnLoadCallback(drawChart);

      // Callback that creates and populates a data table,
      // instantiates the pie chart, passes in the data and
      // draws it.

      function drawChart() {
        // Create the data table.
        var data = google.visualization.arrayToDataTable([
            ['UserName', 'Links', 'Suicidal Index', { role: 'style' }],
            <% User.order(suicidal_index: :desc).all.each do |user| %>
                [
                    '<%= user.screen_name %>',
                     "https://twitter.com/<%= user.screen_name %>",
                    parseFloat(<%= user.suicidal_index %>),
                    "<%= user.suicidal_index && user.suicidal_index >= 30 ? 'red' : 'blue' %>"
                ],
            <% end %>
        ]);

        // Set chart options
        var options = {'title':'Suicidal Index of Each User',
                      titleTextStyle: {fontSize: '30'},
                       'width':800,
                       'height':600
                    };

        var view = new google.visualization.DataView(data);
        view.setColumns([0, 2, 3]);
        // Instantiate and draw our chart, passing in some options.
        var chart = new google.visualization.BarChart(document.getElementById('chart_div'));
        chart.draw(view, options);

        var selectHandler = function(e) {
          window.open(data.getValue(chart.getSelection()[0]['row'], 1.));
        }

        google.visualization.events.addListener(chart, 'select', selectHandler);
      }
    </script>

    <!--Div that will hold the bar chart-->
    <div id="chart_div"></div>
