<!DOCTYPE html>
<html>
  <head>
    <title>AngelAi</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>

  </head>

  <body>
  <% if current_user %>
  	Signed in as <%= current_user.name %> | <%= link_to "Logout", '/logout' %>
  <% else %>
  	<%= link_to "Login", '/login' %> | <%=link_to 'Signup', '/signup' %>
  <%end%>
    <%= yield %>
  </body>
</html>
